.banner-468{
  width: 468px;
  height: 60px;
  float: right;
  margin-top: 24px;
  @include small-tablet {
    float: none;
    display: block;
    margin: 0 auto;
  }
  @media only screen and (max-width: 480px){
    display: none;
  }
}
.banner-336{
  float: right;
  width: 336px;
  height: 280px;
  @extend %clearfix;
  @include small-tablet{
    float: none;
    margin: 0 auto;
  }
  @media only screen and (max-width: 400px){
    display: none;
  }
}
.banner-728{
  width: 728px;
  height: 90px;
  margin: 10px auto;
  @include small-tablet{
    display: none;
  }
}
