footer{
	font-size: 11px;
	color: #999;
	background: #F2F2F2;
	border-top: 1px solid #E5E5E5;
	padding: 25px;
	ul{
		list-style: none;
		@extend %clearfix;
		@include clear-mp;
		li{
			float: left;
			margin-right: 10px;
			a{
				text-decoration: none;
			}
		}
	}
}
