$border-color: #d6d6d6;
$green: #41722f;
$green-hover: #41722f;

$content-width: 940;

html {
	box-sizing: border-box;
	background: url(img/background.png) repeat-x;
}
*, *:before, *:after {
	box-sizing: inherit;
}
header, nav, section, article, aside, footer {
	display:block;
}
body{
	background: url(img/bliss.png) no-repeat center top;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	/* line-height: 120%; */
}
.hidden {
	display: none;
}
img.thumb{
	width: 100%;
	height: 100%;
}
.clearfix{
	clear: both;
}
a{
	color: #327FBE;
}
a:hover {
	color: #20527B;
	cursor: pointer;
}
.content-inner{
	max-width: #{$content-width}px;
	margin: 0 auto;
}
.content-wrapper{
	border-radius: 5px;
	background:#fff;
	overflow: hidden;
	max-width: 970px;
	padding: 36px 25px;
	margin-top: 16px;
	@extend %clearfix;
	>h1, >p:first-child{
		width: calc(100% - 240px);
		float: left;
		@include mobile{
			width: 100%;
			float: none;
		}
	}
	>p{
		margin-bottom: 45px;
	}
}

#fb-like{
	width: 240px;
	height: 70px;
	float: right;
	margin-top: 14px;
	@include mobile{
		float: none;
		margin: 10px auto;
	}
	@media only screen and (max-width: 290px){
		display: none;
	}
}

.video-list{
	overflow: hidden;
	margin-top: 10px;
	>p{
		font-size: 16px;
		font-weight: bold;
	}
	ul{
		@extend %clearfix;
		list-style: none;
		@include clear-mp;
		li{
			width: 16%;
			float: left;
			a{
				text-decoration: none;
				color: #327FBE;
				.img-wrapper{
					position: relative;
					border: 1px solid #999;
					@include aspect-ratio(16, 9);
					&:before{
						padding-bottom: 2px;
					}
					img{
						width: 100%;
						padding: 2px;
					}
					span{
						position: absolute;
						bottom: 2px;
						right: 3px;
						background-color: rgba(0, 0, 0, .5);
						color: #fff;
						padding: 0 3px;
						font-size: 12px;
						line-height: 16px;
						font-weight: bold;
					}
				}
				p{
					margin: 5px 0;
					height: 54px;
					overflow: hidden;
				}
			}
			&:not(:nth-child(6n+6)){
				margin-right: 0.8%;
			}
		}
	}
	@include tablet{
		ul{
			display: block;
			li{
				width: 20.4%;
				&:not(:last-child){
					margin-right: 0px;
				}
				&:not(:nth-child(4n+4)){
					margin-right: 6.13%;
				}
			}
		}
	}
	@include small-tablet{
		ul{
			li{
				width: 26.34%;
				&:not(:nth-child(4n+4)){
					margin-right: 0;
				}
				&:not(:nth-child(3n+3)){
					margin-right: 10.49%;
				}
			}
		}
	}
	@include mobile{
		ul{
			li{
				width: 32%;
				&:not(:nth-child(3n+3)){
					margin-right: 2%;
				}
			}
		}
	}
	@include small-mobile{
		ul{
			li{
				width: 48.84%;
				&:not(:nth-child(3n+3)){
					margin-right: 0;
				}
				&:not(:nth-child(even)){
					margin-right: 2.32%;
				}
			}
		}
	}
}

#comments {
	margin-top: 10px;
}

#privmsg-info {
	font-weight: bold;
	color: #f00;
}

.fb-box.left{
	float: left;
}
.fb-box.right{
	float: right;
}
.fb-box{
	width: 475 / 970 * 100%;
	@include mobile{
		width: 100%;
		&.left,&.right{
			float: none;
		}
	}
}

.row{
	@extend %clearfix;
}

@media only screen and (max-width: 320px){
	.hide-320 {
		display: none;
	}
}

@media only screen and (max-width: 375px){
	.hide-375 {
		display: none;
	}
}

#facebook-jssdk-iframe {
	display: none;
}
