header{
	@extend %clearfix;
	a.logo{
		display: block;
		padding: 24px 0px 5px 0px;
		float: left;
	}
	@include small-tablet{
		a.logo{
			float: none;
			display: block;
			margin: 0 auto;
		}
		a.logo img{
			display: block;
			margin: 0 auto;
			max-width: 100%;
			object-fit: contain;
		}
	}
}
