.download-btn {
	color: #5a8627;
	font-weight: bold;
}

#download{
	width: 574px;
	width: calc(100% - 346px);
	float: left;
	position: relative;
	h1{
		color: #608c2b;
		font-size: 20px;
		margin-bottom: 40px;
		text-align: center;
	}	
	button{
		min-width: 124px;
		display: block;
		margin: 10px auto;
		line-height: 40px;
		padding: 0 15px;
		border: 1px solid #69992F;
		background: #5A8627;
		border-radius: 5px;
		font-weight: bold;
		font-size: 22px;
		font-family: "Lucida Sans", "Lucida Grande", Arial, Helvetica;
		color: #FFF;
		text-align: center;
		text-shadow: 1px 1px 0 #5C8928;
		cursor: pointer;
	}
	a.problem{
		position: absolute;
		bottom: 20px;
		right: 7%;
		color: rgb(167, 7, 22);
		font-weight: bold;
		font-size: 14px;
		@include small-desktop{
			position: static;
			display: block;
			text-align: center;
		}
	}
	@include small-tablet{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
}
#query{
	font-size: 26px;
	display: block;
	margin: 0 auto;
	width: 86%;
	padding: 8px 10px;
	color: #333;
	background: #FFF;
	border: 1px solid #BBB;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
	@include small-tablet{
		width: 100%;
	}
}

#download-error {
	width: 86%;
	margin: 0 auto;
	font-weight: bold;
	color: #f00;
}

#checkbox-terms {
	margin-top: 10px;
	text-align: center;
}
