%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}
@mixin clear-mp{
	margin: 0;
	padding: 0;
}

@mixin small-desktop{
	@media only screen and (max-width: 1024px){
		@content;
	}
}

@mixin tablet{
	@media only screen and (max-width: 960px){
		@content;
	}
}
@mixin small-tablet{
	@media only screen and (max-width: 768px){
		@content;
	}
}
@mixin mobile{
	@media only screen and (max-width: 640px){
		@content;
	}
}
@mixin small-mobile{
	@media only screen and (max-width: 480px){
		@content;
	}
}
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
