.content-recent{
	.pagination {
		@extend %clearfix;
		padding-left: 0;
		list-style: none;
		>li {
			>span, >a {
				float: left;
				padding: 10px 15px;
				margin-right: 10px;
				background-color: #eee;
				border-radius: 10px;
				text-decoration: none;
			}
			>a {
				text-decoration: none;
				&:hover {
					background-color: #ddd;
				}
			}
			&.active {
				>span, >a {
					background-color: #ccc;
				}
			}
		}
	}
}
.video-items-wrapper{
	@extend %clearfix;
	margin-top: 40px;
	.video-item{
		float: left;
		width: 220 / 920 * 100%;
		margin-right: 1.45%;
		margin-bottom: 20px;
		&:nth-child(4n+4){
			margin-right: 0;
		}
		&:nth-child(4n+5){
			clear: both;
		}
		@include small-tablet{
			width: 32.36%;
			&:nth-child(4n+4){
				margin-right: 1.45%;
			}
			&:nth-child(3n+3){
				margin-right: 0;
			}
			&:nth-child(4n+5){
				clear: none;
		}
			&:nth-child(3n+4){
				clear: both;
			}
		}
		@include mobile{
			width: 49.275%;
			&:nth-child(3n+3){
				margin-right: 1.45%;
			}
			&:nth-child(even){
				margin-right: 0;
			}
			&:nth-child(3n+4){
				clear: none;
		}
			&:nth-child(2n+3){
				clear: both;
			}
		}
		@include small-mobile{
			width: 100%;
			margin-right: 0;
			float: none;
			clear: both;
			&:nth-child(3n+3){
				margin-right: 0;
			}
		}
		a.title{
			min-height: 57px;
			margin: 8px 0;
			display: block;
		}
		a.download{
			display: block;
			width: 100px;
			height: 20px;
			background-color: #2D9E01;
			color: #fff;
			font-weight: bold;
			font-size: 15px;
			text-align: center;
			text-decoration: none;
			border: 1px solid #25630C;
			box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.8);
			&:hover{
				background-color: #45AD1C;
			}
		}
	}
}
