.video-options-container{
	@extend %clearfix;
	.video-container{
		float: left;
		width: 545 / 920 * 100%;
		video {
			width: 100%;
		}
	}
	.options-container{
		float: right;
		width: 355 / 920 * 100%;
	}
	.download{
		cursor: pointer;
		display: block;
		margin-bottom: 10px;
		position: relative;
		height: 72px;
		padding: 0 20px 0 65px;
		line-height: 72px;
		border: 1px solid #000;
		color: #fff;
		font-size: 24px;
		text-decoration: none;
		text-transform: uppercase;
		box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8);
		transition: opacity .5s;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 72px;
			height: 72px;
			background: no-repeat center;
			background-size: 24px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: attr(data-width);
			height: 100%;
			background-color: rgba(0, 0, 0, .3);
		}
		&.audio{
			background: #479b26;
			border-color: rgba(#1F671C,0.4);
			&:before{
				background-image: url(img/icons/music.svg);
			}
		}
		&.video{
			background: #59a4da;
			border-color: rgba(#397AA9,0.4);
			&::before{
				background-image: url(img/icons/movie.svg);
			}
		}
		&.subs{
			background: #59a4da;
			border-color: rgba(#397AA9,0.4);
			&:before{
				background-image: url(img/icons/subs.svg);
			}
		}
		&.hidden{
			display: none;
		}
		&.disabled, &.inactive{
			opacity: .5;
			cursor: default;
		}
		input{
			display: none;
		}
	}
	.problem{
		cursor: pointer;
		display: block;
		margin-bottom: 10px;
		position: relative;
		height: 60px;
		line-height: 60px;
		border: 1px solid #000;
		color: #fff;
		font-size: 18px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		box-shadow: inset 0px 1px 1px rgba(255,255,255,0.8);
		background: #BF0707;
		border-color: rgba(#6B0B0B,0.4);
		overflow: hidden;
		&.refresh {
			float: right;
			width: 60px;
			margin-left: 6px;
		}
	}
	@include tablet{
		.video-container,.options-container{
			width: 100%; 
			float: none;
		}
	}
}
